@charset "UTF-8";
* {

}
header {
    background-color: black;
    height: 100px;
    color: white;
    margin: 0px;
}
header p {
}
div.container {
    position: relative;
}
div.conteudo {
    position: absolute;
    margin: auto;
}
